* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-pale: #f0f4f0;
  --bg-light: #ffffff;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #c2c2c2;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 8%;
  position: absolute;
  z-index: 99;

  nav,
  div {
    flex: 1;
  }

  nav {
    min-width: 464px;
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
  }

  .logo {
    width: 80px;
  }

  div {
    display: flex;
    justify-content: end;
    gap: 24px;
  }
}

.menuHamburguer {
  display: none;
}

button {
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.3s all;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transform: translateY(-2px);
  }
}

.slides {
  width: 100%;
  height: 106dvh;
  overflow: hidden;
  display: flex;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-right: 4%;
  padding-bottom: 6vh;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(0% at 89% 50%);
  opacity: 0;
  transition: clip-path 0s 1s, opacity 0s 1s;

  .imgCirc {
    transition: transform 1s;
    transform: rotate(100deg);
  }

  p {
    opacity: 0;
    transition: opacity 0.6s 0.8s;
  }

  .botaoPrimario {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s 1s, transform 0.6s 1s;
  }

  .imgNext {
    opacity: 0;
    transition: opacity 1s;
  }

  &.active {
    clip-path: circle(120% at 89% 50%);
    opacity: 1;
    transition: clip-path 1s 0s, opacity 0.1s 0s;
    z-index: 1;

    .imgCirc {
      transform: rotate(0);
    }

    p {
      opacity: 1;
    }

    .botaoPrimario {
      opacity: 1;

      transform: translateY(0px);
    }

    .imgNext {
      opacity: 1;
    }
  }
}

.conteudo {
  flex: 1;
  position: relative;
  margin: 0 6%;

  h2 {
    font-size: 5.1vw;
  }

  p {
    width: 70%;
  }
}
.tituloSlide h2 {
  overflow: hidden;
}

.produtos {
  display: flex;

  img {
    width: 14vw;
    object-fit: contain;
    filter: drop-shadow(32px 46px 32px rgba(0, 0, 0, 0.35));

    &:nth-child(2) {
      scale: 0.8;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        transform: translateY(-2px);
        scale: 0.82;
      }
    }
  }
}

.imgCirc {
  width: 38vw;
  margin-left: -20%;
  box-shadow: 4px 6px 4.3px 0 rgba(0, 0, 0, 0.15),
    12px 24px 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.navSlides {
  position: absolute;
  left: 24.5%;
  top: 66%;
  display: flex;
  width: 37.8%;
  justify-content: space-between;
  align-items: end;
  z-index: 9;
  padding-top: 40px;

  .botoesNav {
    display: flex;
    gap: 16px;
  }

  button {
    background-color: transparent;
  }

  .bullets {
    list-style-type: none;
    display: flex;
    gap: 8px;
    padding-bottom: 12px;

    li {
      width: 24px;
      height: 8px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 12px;
      opacity: 0.8;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        opacity: 1;
      }

      &.active {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.pringlesFundo {
  position: absolute;
  width: 55vw;
  mix-blend-mode: color-dodge;
  right: -18vw;
  bottom: -10vw;
  z-index: -1;
  opacity: 0.8;
}

.botaoPrimario {
  border-radius: 0.3vw;
  padding: 1.1vw 1.4vw;
  font-size: clamp(16px, 1.1vw, 1.1vw);
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 32px;
}

.botaoPrimario:hover{
  background-color: rgba(255, 255, 255, 0.9);
  color: #0d88bb;
  border: 2px solid #0071a1;
  padding: 1.3vw 1.6vw;
  transition: 100ms;
}

.slide:nth-child(1) {
  background: linear-gradient(100deg, #2ac4ff 2.57%, #0d88bb 95.91%);
}

.slide:nth-child(2) {
  background: linear-gradient(100deg, #ff849d 2.57%, #c5566a 95.91%);

  h2 {
    font-size: 4.8vw;
  }
}

.slide:nth-child(3) {
  background: linear-gradient(100deg, #ff9f42 2.57%, #cf7528 95.91%);

  h2 {
    font-size: 8vw;
  }
}

.slide:nth-child(4) {
  background: linear-gradient(100deg, #1c7a5a 2.57%, #115b41 95.91%);

  h2 {
    font-size: 4.5vw;
  }
}

.secao2 {
  width: 100%;
  padding: 8% 8% 0;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.linhaVetorial svg {
  position: absolute;
  width: 100vw;
  top: 16%;
  left: 0;
  height: auto;
}

.marquee {
  position: relative;
  width: 100%;
  height: 30vw;
  overflow: hidden;
  position: absolute;
  top: -15vw;
  left: 0;
}

.marquee-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
}

.marquee-bg-svg {
  color: #c71729;
  grid-area: 1/1;
  z-index: 0;
}

.marquee-text-svg {
  z-index: 1;
  grid-area: 1/1;
}

.marquee-text-svg text {
  fill: var(--bg-light);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.marquee-inner svg {
  backface-visibility: hidden;
}


.marquee-overlay {
  z-index: -1;
  background-color: #c2c2c2;
  clip-path: polygon(66% 40%, 100% 50%, 100% 100%, 0 100%, 0 50%);
  grid-area: 1/1;
  position: relative;
  bottom: 0px;
}

.etapa {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  gap: 4vw;

  img {
    width: 12vw;
  }

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #feb859;
    width: 50%;
    border-radius: 4vw;
    padding: 1vw 2vw 3vw;

    .iconeCard {
      width: 7vw;
      margin-bottom: 1vw;
      position: absolute;
      right: 6%;
      top: -4%;
      filter: drop-shadow(3px 4px 1px rgba(0, 0, 0, 0.25));
    }

    .seta {
      position: absolute;
      width: 6vw;
      opacity: 0.7;
      right: 22%;
      top: 30%;
    }

    h2 {
      font-size: 8vw;
    }

    p {
      font-size: clamp(16px, 1.5vw, 1.5vw);
    }
  }

  &.laranja {
    .seta {
      transform: rotate(40deg);
    }

    .lataEtapa {
      transform: rotate(20deg);
    }
  }

  &.azul {
    .card {
      background-color: #57c3ee;
    }
    .seta {
      right: 4%;
      top: 50%;
    }
    .lataEtapa {
      transform: rotate(-10deg);
    }
  }

  &.verde {
    .card {
      background-color: #39b88d;
    }
    .seta {
      right: 3%;
      top: 36%;
      transform: rotate(140deg) scaleY(1);
    }
    .lataEtapa {
      transform: rotate(40deg);
    }
  }
}

.secao3 {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 4vw;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.85);
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .conteudoSec3 {
    padding: 8% 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 4vw;
    text-align: center;
  }
  .botaoSecao3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 6vw;
      transform: rotate(70deg);
      position: absolute;
      left: -70%;
    }
    button {
      background-color: #d5213b;
      color: white;
      border: none;
    }
    button:hover{
      background-color: #ffd8de;
      color: #d5213b;
      border: 2px solid #d5213b;
    }
  }

  footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    margin-top: -18vw;

    .divLataPringlesOriginal,
    .divGabrielPujol {
      width:  30%;
      display: flex;
      align-items: end;
    }

    .devArt {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2vw;
      flex: 1;

      .logotipo {
        display: flex;
        gap: 1vw;
        align-items: end;

        margin-bottom: 2vw;

        img {
          width: 6vw;
        }

        h3 {
          font-size: 1.4vw;
          margin-bottom: -0.3vw;
        }
        p {
          font-size: 1vw;
        }
        div {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .lataPringlesOriginal {
      width: 16vw;
      height: auto;
      object-fit: contain;
      margin-bottom: -1vw;
    }

    .gabrielPujol {
      width: 34vw;
      margin: 0 -1vw -4vw 2vw;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 820px) {
  header {
    padding: 5%;
    nav,
    div {
      display: none;
    }

    .logo {
      width: 54px;
    }

    .menuHamburguer {
      display: block;
      width: 32px;
    }
  }

  .botaoPrimario {
    border-radius: 4px;
    padding: 16px 24px;
  }

  .slide {
    flex-wrap: wrap;
    padding: 0;
    align-items: end;

    .imgCirc {
      width: 55vw;
      margin-bottom: -20vw;
    }

    .produtos {
      margin-bottom: -20vw;

      img {
        width: 30vw;
      }
    }

    .conteudo {
      width: 100%;
      margin: 60px 5% 0px;
      flex: auto;
      order: -1;

      h2 {
        font-size: 12vw;
      }

      p {
        width: 100%;
      }
    }
  }

  .navSlides {
    right: 0;
    left: auto;
    bottom: 75vw;
    top: auto;

    .bullets {
      display: none;
    }
  }

  .slide:nth-child(2) {
    h2 {
      font-size: 11vw;
    }
  }

  .slide:nth-child(3) {
    h2 {
      font-size: 18vw;
    }
  }

  .slide:nth-child(4) {
    h2 {
      font-size: 10.9vw;
    }
  }

  .etapa .card {
    width: 70%;
    padding: 4vw;

    .iconeCard {
      width: 12vw;
    }

    .seta {
      width: 10vw;
    }

    p {
      font-size: 3.7vw;
    }
  }

  .etapa .lataEtapa {
    width: 16vw;
  }

  .etapa.laranja .seta {
    right: 28%;
    top: 20%;
  }
  .etapa.azul .seta {
    right: 1%;
    top: 24%;
  }
  .etapa.verde .seta {
    right: 18.5%;
    top: 24%;
  }

  .linhaVetorial svg{
    top: 20%;
    width: 130vw;
  }

  .secao3{
    padding: 16% 0 0;
    

    h2{
      font-size: 4.5vw;
    }

    .botaoSecao3{
      flex-direction: column;
      gap: 4px;
      margin-top: 12px;
      img{
        position: relative;
        left: auto;
        transform: rotate(150deg);
        width: 10vw;
      }

      .botaoPrimario{
        margin: auto;
      }
    }

    footer{
      

      .devArt .logotipo{
        gap: 2vw;
        margin-bottom: 8vw;
        img{
          width: 12vw;
        }
        h3{
          font-size: 3vw;
        }
        p{
          font-size: 2.2vw;
        }
      }
      .gabrielPujol{
        width: 60vw;
        margin-left: -8vw;
      }

      .lataPringlesOriginal{
        width: 30vw;
        margin-left: -4vw;
      }
    }
  }
  .creditos{
    display: none;
  }
}
